.wrapper{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.switcher{
    cursor: pointer;
    color: #002984;
}
.name-row{
    --bs-gutter-x : 1rem;
}
@media (max-width: 576px) {
    .wrapper{
        width: 100%;
    }
}