:root{
    --c-landing-bg : #FDDEC1;
    --c-landing-panel-img-bg : #000000;
    --c-landing-panel-ctrl-bg : rgba(255, 255, 255, 0.8);
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--c-landing-bg);
    background-image: url('../../Assets/Images/Landing/landing-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.panel{
    width: 85%;
    min-height: 85vh;
    border-radius: 10px;
}
.panel-image{
    background-image: url('../../Assets/Images/Landing/panel-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--c-landing-panel-img-bg);
    border-radius: 10px 0 0 10px;
}
.panel-controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 0 10px 10px 0;
    background-color: var(--c-landing-panel-ctrl-bg);
    padding: 5vh;
}
@media (max-width: 576px) {
    .panel{
        min-height: 10vh;
    }
    .panel-controls{
        border-radius: 10px;
    }
}