:root{
    --c-dashboard-bg : #f6f8fa;
}
.ds-main-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--c-dashboard-bg);
}
.ds-appbar{
    display: flex;
    padding: 5px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.ds-devices-container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 90%;
}